@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadPartial")

<body>

    <!-- header -->
    <div class="header">
        <div class="container">

            @await Component.InvokeAsync("_TopAddressPartial")

            @await Component.InvokeAsync("_SocialMediaPartial")

            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- navbar -->
    @await Component.InvokeAsync("_NavbarPartial")
    <!-- //navbar -->
    <!-- about -->
    @await Component.InvokeAsync("_AboutPartial")
    <!-- //about-->
    <!--sevices-->
    @await Component.InvokeAsync("_ServicePartial")
    <!--//sevices-->
    <!-- team -->
    @await Component.InvokeAsync("_TeamPartial")
    <!-- //team -->
    <!--blog -->
    @await Component.InvokeAsync("_AnnouncementPartial")
    <!--//blog -->
    <!--gallery-->
    @await Component.InvokeAsync("_GalleryPartial")
    <!--//gallery-->

    <!--footer-->
    <div class="contact-agile" id="contact">
        <div class="container">
            <!--//address-->
            @await Component.InvokeAsync("_AddressPartial")
            <!--//adress-->
            <!--//contact-->
            @await Html.PartialAsync("/Views/Default/SendMessage.cshtml")
           <!--//contact-->
        </div>
    </div>
    <!--//map-->
    @await Component.InvokeAsync("_MapPartial")
    <!--//map-->
    <div class="copy">
        <p>© @DateTime.Now.Year In Harvest . Tüm Hakları Saklıdır | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
    </div>
    <!--//footer -->

    <!-- js -->
    @await Html.PartialAsync("/Views/Default/ScriptPartial.cshtml")
    <!-- //js -->

</body>
</html>
