@using EntityLayer.Concrete
@model List<Service>
@{
    //Buradaki Title özelliği sekme başlığına yazılacak özelliktir
    ViewData["Title"] = "Hizmetler";
    //Buradaki Layout ise sayfada kullanılan layout'un konumunu bildirir
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Hizmetler</h1>

<div class="table-responsive pt-3">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ServiceID</td>
                <td>@item.Title</td>
                <td><a href="/Service/UpdateService/@item.ServiceID" class="btn btn-info">Düzenle</a></td>
                <td><a href="/Service/DeleteService/@item.ServiceID" class="btn btn-danger">Sil</a></td>
            </tr>
        }
    </table>
</div>
<a href="/Service/AddService/" class="btn btn-success">Yeni Hizmet Girişi</a>