@model AgriculturePresentation.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
        }

        .form-group {
            margin-bottom: 20px;
            position: relative;
        }

            .form-group label {
                display: block;
                margin-bottom: 5px;
            }

            .form-group input {
                width: calc(100% - 40px); /* Göster/Gizle düğmesi için ayarlanmış genişlik */
                padding: 15px; /* Textbox'ın iç boşluğunu artırır */
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-bottom: 10px;
                transition: border-color 0.3s ease;
            }

                .form-group input:focus {
                    border-color: #007bff;
                    outline: none;
                }

        .toggle-password {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            cursor: pointer;
            background-color: transparent;
            border: none;
        }

        .btn {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            float: right;
            transition: background-color 0.3s ease;
        }

            .btn:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="container">
        <h2>Giriş Yap</h2>
        <form method="post">
            <div class="form-group">
                <label for="username">Kullanıcı Adı:</label>
                <input type="text" asp-for="username" placeholder="Kullanıcı Adınızı Girin" required="" autofocus>
            </div>
            <div class="form-group">
                <label for="password">Şifre:</label>
                <input type="password" asp-for="password" id="password" placeholder="Şifrenizi Girin" required="">
                <span class="material-icons toggle-password" onclick="togglePasswordVisibility()">visibility_off</span>
            </div>
            <button type="submit" class="btn">Giriş Yap</button>
        </form>
    </div>

    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("password");
            var icon = document.querySelector('.toggle-password');
            if (passwordField.type === "password") {
                passwordField.type = "text";
                icon.textContent = 'visibility';
            } else {
                passwordField.type = "password";
                icon.textContent = 'visibility_off';
            }
        }
    </script>
</body>
</html>
