@model EntityLayer.Concrete.Contact

<div class="col-md-9 contact-middle">
    <h2>Merhaba</h2>
    <form method="post">
        <div class="form-agileinfo">
            <p>İsim</p>
            <input type="text" name="your name" placeholder="İsmin" required="" />
            <p>E-Mail</p>
            <input type="email" name="your email" placeholder="E-Mail Adresin" required="" />
        </div>
        <div class="form-agileits-w3layouts">
            <p>Mesaj</p>
            <textarea name="your message" placeholder="Mesajın" required=""></textarea>
            <input type="submit" value="Mesajı Gönder">
        </div>
        <div class="clearfix"></div>
    </form>
</div>